.container {
    width: 1000px;
    padding: 0 15px;
    margin:  0 auto;
}

.toDo {
    width: 400px;
    margin: 15px auto;
    border: 1px solid black;
    text-align: center;
}

.areaForTasks {
    resize: none;
    width: 300px;
    height: 120px;
}

.addBtn {
    display: block;
    margin: 0 auto;
}